{% extends "base.html" %}

{% block content %}

<div class="container" id="bodypage">
	<div class="row">
		<div class="contact-thumbnail">
			<i class="fa fa-envelope fa-4x iconize-md"></i>
			<p class="text-center">florian.boudinet@gmail.com</p>
			<p class="text-center">florian.boudinet@frenchdev.com</p>
		</div>
		<div class="contact-thumbnail">
			<em class="icon-github-circle-alt iconize-md"></em>
			<p class="text-center"><a href="https://github.com/skapin">github.com/skapin</a></p>
			<p class="text-center"><a href="https://github.com/polybox3d">github.com/polybox3d</a></p>
		</div>
		<div class="contact-thumbnail">
			<i class="fa fa-twitter fa-4x iconize-md"></i>
			<p class="text-center"><a href="https://twitter.com/polybox3d">twitter.com/polybox3d</a></p>
		</div>
		<div class="contact-thumbnail">
			<i class="fa fa-linkedin-square fa-4x iconize-md"></i>
			<p class="text-center"><a href="https://fr.linkedin.com/in/florian-boudinet-14a304107">fr.linkedin.com/in/florian-boudinet</a></p>
		</div>
		<div class="contact-thumbnail">
			<i class="fa fa-wechat fa-4x iconize-md"></i>
			<p class="text-center">irc.freenode.net #reprap, #reprap-fr @skapin</p>
		</div>
	</div>
	<br>
	<br>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}