{% extends "base.html" %}

{% block content %}

<div class="container" id="bodypage">
    <div class="row">
        <h1 class="skillheader">KickStarter</h1>
        <hr class="md">
        <div class="col-md-5 col-md-offset-3 kickstarter">
            <img src="static/img/ks/title1.png" alt="">
            <p>Polybox 3D is a innovative multifunctions machine. The Polybox integrates 4 functions :</p>
            <img src="static/img/ks/img1.png" alt="">
            <p>The 5 axis CNC allows you to route pieces from plastic to aluminum with high precision.<br>
            <br>
            The 3D printing offers you the opportunity to give life to your ideas and projects thanks to its flexibility of use of material and its two extruders.
            <br><br>
            The 3D scanner digitalizes your objects or your creations that are storaged in a 3D file.
            <br><br>
            The HD cameras with adjustable light atmosphere give you the ability to capture pictures & videos to promote your products.
            <br><br>
            All functions of Polybox are easily controllable thanks to its touch screen and its integrated and pre-configured computer.<br>
            </p>
            <img src="static/img/ks/img2.png" alt="">
            <img src="static/img/ks/line.png" alt="">
            <p><strong>POLYBOX 3D is more than just a 3D printer, scanner, 5 axes routing & shooting Lab. Man-sized, Affordable, Efficient & usable by both professionals and individuals !</strong><br></p>
            <img src="static/img/ks/line.png" alt="">
            <br>
            <p>Polybox 3D est né en Juillet 2013 d'une idée commune entre 3 ingénieurs français regroupant leurs compétences en électronique, informatique et mécanique.<br>
            <br>
            Plongés dans le milieu industriel au quotidien, notre utilisation des technologies d'impression 3D et d'usinage nous a exposé plusieurs problématiques :<br>
            <br>
            - L'absence sur le marché de machine combinant l'usinage et l'impression 3D permettant la production de pièces en plastique ou en métal.
            <br><br>
            - L'absence de volume de travail suffisamment grand pour répondre à tous types de besoins : Nous voulions un volume de travail supérieur à 300x300x300mm.
            <br><br>
            - Nos impressions 3D FFF (Fused Filament Fabrication) ne nous satisfaisaient pas : nous étions confrontés à des problèmes récurrents de qualité et de précision ainsi que des problèmes de déformations sur des pièces de toute taille en cours d'impression.
            <br><br>
            - La technologie de scanner 3D n'est pas assez considérée dans l'univers de l'impression 3D.
            <br><br>
            - Une seule machine qui propose de multiples fonctionnalités avec l'ambition de répondre aux besoins du monde professionnel : Ce serait un réel atout pour les petites et moyennes entreprises. Cela leur fournirait un ensemble de technologies de pointes à moindre coût, et cela leur permettrait de fabriquer des produits ou des prototypes en seulement quelques heures.
            <br><br>
            - Proposer un module de découpe laser. Cette formidable fonctionnalité fournirait une réponse aux exigences les plus pointues : proposer une qualité et une précision à la hauteur des technologies du XXIème siècle.
            <br><br>
            - Proposer une technologie d'impression 3D plus précise que l'impression 3D FFF (Fuse Filament Fabrication) pour ceux qui recherchent la précision. Par exemple, l'impression 3D par stéréolithographie.
            <br><br>
            - La mise en avant des produits imprimés ou usinés serait le dernier élément indispensable. Cela vous donnerait la capacité de promouvoir vos créations.
            <br><br>
            <strong>Notre réponse est la machine que nous avons baptisé Polybox 3D.</strong></p>

            <img src="static/img/ks/img3.png" alt="">
            <br>
            <img src="static/img/ks/img4.png" alt="">
            <img src="static/img/ks/line.png" alt="">

            <p>- Une machine multifonctionnalité pouvant être équipée de différents blocs outils facilement interchangeables. Ceux-ci permettant notamment d'imprimer en 3D et d'usiner avec une seule machine.
            <br><br>
            - Une machine pouvant aussi bien usiner en 3 axes (Tx, Ty et Tz) qu'en 5 axes (Tx, Ty, Tz, Rx et Ry) à l'aide d'un plateau innovant intégrant deux axes de rotation. </p>

            <img src="static/img/ks/img5.png" alt="">
            <p>- Une machine présentant un volume de travail de 440x440x440mm.</p>

            <img src="static/img/ks/img6.png" alt="">
            <p>
            - Une machine intégrant des moteurs pas à pas 200 pas par tour associés à un microstepping pouvant aller jusqu'à 128 micropas, soit 25600 micropas par tour moteur, apportant des déplacements sur les différents axes d'une précision incomparable.
            <br><br>
            - Une machine contrôlant la température du plateau et de la zone de travail afin d'assurer une gestion idéale de A à Z de l'impression 3D de petites et grandes pièces avec le procédé FFF (Fused Filament Fabrication).
            <br><br>
            - Une machine proposant un module de scanner laser 3D issu du monde open-source.
            <br><br>
            - Une machine visant le monde professionnel et industriel, avec une maintenance accessible à l'utilisateur grâce à une interface de visualisation de la machine, l'utilisation au maximum de standard, et un accès facile dédié à la partie électronique et informatique. </p>

            <img src="static/img/ks/img7.png" alt="">

            <p>- Une machine étant déjà pré-étudiée pour recevoir un module de découpe laser de 20W ainsi qu'un module d'impression 3D par stéréolithographie (SLA). Pour des raisons d'insuffisance de fonds, nous n'avons pas pu inclure dès le départ ces modules, mais nous souhaitons vivement leur intégration. Nous comptons sur vous pour aboutir à cette importante intégration ! Si nous récoltons 200.000 euros, cela nous donnerait la possibilité d'intégrer le module de découpe laser. Et si nous récoltons plus de 250.000 euros, ce serait incroyable. Nous pourrions intégrer le module de découpe laser ET le module d'impression 3D par stéréolithographie (SLA)
            <br><br>
            - Une machine apte à promouvoir vos créations, grâce à des webcam HD, un enregistrement de vos photos & vidéos et une possibilité de connexion internet par Wi-fi ou câble Ethernet afin d'être connecté avec le monde entier </p>
            <p><strong>Polybox 3D, c'est une box polyvalente, c'est la boîte à outils du 3D !</strong></p>

            <img src="static/img/ks/img8.png" alt="">

            <p>Polybox 3D est une machine multifonction. Elle possède un support bloc outil central générique pouvant accueillir facilement l'outil correspondant à la fonction désirée.<br><br>

            La version actuelle de la Polybox 3D propose un bloc outil fraisage de 300 W et un bloc outil impression comprenant deux buses. Nous souhaitons ajoutés deux fonctions supplémentaires : un module de découpe laser d'environ 20-40W si la campagne obtient 200.000 euros et un module d'impression SLA si la campagne obtient 250.000 euros. </p>

            <img src="static/img/ks/img9.png" alt="">

            <p>Notre machine multi-fonctions Polybox 3D est contrôlée par un ordinateur, directement intégré dans son compartiment électronique. Afin de faciliter l'utilisation de la Polybox, son contrôle est assurée par un écran tactile 12 pouces.</p>

            <img src="static/img/ks/img10.png" alt="">

            <p>La Polybox possède en son sein une carte commande (Poly'Commande) équipée de 5 cartes de type Due ARM Cortex-M3. Leur performance et leur notoriété dans le monde de l’open source et de l’embarqué les ont rendu incontournable pour notre projet.
            <br><br>
            Le logiciel RepetierHost, combiné aux outils de découpes Cura / Slic3r, convertit vos fichiers 3D STL en fichier Gcode interprétable par la Polybox 3D.
            <br><br>
            Grâce au centre de contrôle Polybox3D et ses multiples capteurs, gardez toujours un œil en temps réel sur le bon fonctionnement de votre Polybox 3D.
            <br><br>
            Le mode CNC de la Polybox 3D est contrôlé par le biais de l'interface tactile directement intégrée dans le châssis.
            <br><br>
            Avec la dernière version de LinuxCNC tournant sur une machine temps réel RTAI, la création n'a plus de limite !
            <br><br>
            Couplé à un pilotage incluant une génération de micropas matériel via une carte MESA 5i25, atteignez une précision d'un niveau professionnel (40µm) associée à des vitesses de travail optimales pour une utilisation quotidienne comme ponctuelle.
            <br><br>
            Le firmware supervise l'avancement du fil dans l'extrudeur grâce à un encodeur. Si un problème survient, le programme d'impression se met automatiquement en pause. Ainsi, fini les problèmes de pièces ratées dû à une fin de bobine, une mauvaise extrusion ou un encrassement de l'extrudeur.
            <br><br>
            Un check-up complet des différents éléments est effectué au lancement du programme d'impression.
            <br><br>
            Ainsi, à la moindre anomalie, un panneau de contrôle, dans l'interface utilisateur, vous indique l'élément défaillant dans la chaîne de test.
            <br><br>
            Une fois le problème repéré, il vous est alors possible de résoudre la défaillance en toute simplicité.
            <br><br>
            La maintenance de la polybox 3D par l'utilisateur est ainsi simplifié.
            <br><br>
            A l'aide du logiciel open Source FabScan, numérisez en 3D vos objets. Il vous est ensuite possible de les reproduire en l’état ou de les retravailler à l'aide d'un logiciel de CAO.
            <br><br>
            Le logiciel PolyboxSoftware vous permet de contrôler l'éclairage de la zone de travail grâce à un pilotage des LED blanches et colorées pour chacune des faces de la machine.</p>

            <img src="static/img/ks/img11.png" alt="">

            <p>Utilisez la fonction Shooting Lab pour filmer ou photographier vos réalisations en qualité full HD 1080p dans une ambiance lumineuse maîtrisée.<br><br>

            Il vous est possible de créer et de charger vos profils d'ambiance lumineuse personnalisés.</p>

            <img src="static/img/ks/img12.png" alt="">

            <p>Restez connecté ! Partagez et diffusez vos réalisations en direct sur internet !</p>

            <br>
            <br>
            <img src="static/img/ks/title2.png" alt="">
            <br>
            <br>
            <img src="static/img/ks/img14.png" alt="">
            <br>
            <img src="static/img/ks/title5.png" alt="">
            <img src="static/img/ks/img15.png" alt="">

            <img src="static/img/ks/title6.png" alt="">
            <img src="static/img/ks/img16.png" alt="">
            <p></p>

            <img src="static/img/ks/title7.png" alt="">
            <br><br>
            <h3>Risks and challenges</h3>
            <br><br>
            <p>

            Polybox a démarré modestement avec énormément d'ambitions et d'idées. Le prototype est fonctionnel, prometteur et nous souhaitons propulser le projet à une étape supérieure, afin de passer du prototype à la machine produite en série. Dans cette optique, nous avons besoin de vous !

            Actuellement, la machine est entièrement réalisée par nos soins dans notre atelier. Cette tâche est longue et minutieuse, car nous sommes rigoureux et exigeant quand à la qualité de nos produits. Aussi, nous avons besoin de plus de matériels et d'outils de travail, de sous traiter certains éléments de la machine, et d'évoluer vers un atelier adéquate au challenge.

            Notre ambition, c'est aussi de faire évoluer la machine et de la rendre la plus complète du marché. Il faut se donner les moyens de ses ambitions. Ainsi, nous avons déjà fait l'étude pour l'ajout des fonctionnalités de découpe laser et d'impression SLA. Cette campagne présente notre travail et suivant l'engouement de la communauté, nous pourrons inclure ces 2 fonctionnalités supplémentaires.

            Nous nous efforcerons de respecter notre engagement sur les délais et la qualité de notre produit, afin de vous satisfaire.</p>
        </div>
    </div>
    <br>
    <br>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}